* {
    padding: 0;
    margin: 0;

}
.header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 150px;
    background-color: lightblue;
    text-align: center;
    font-size: 20pt;
}
#header {
    padding: 10px;
    height: 50px;

}
#list ul{
    list-style: none;
    display: flex;
}

#list ul li {
    width: 0px;
    background-color: #96c9de;
    color: white;
    padding: 10px;
    transition: width 3s;
    text-align: right;
}
#list ul li a{
    color: white;
    display: block;
    text-decoration: none;
}

#list #menuBt {
    position: absolute;
    width: 67px;
    padding: 10px;
    background-color: red;
    color: white;
    text-decoration: none;
    transition: transform 1s;
}

#cannonBall{
    position: absolute;
    width: 30px;
    transition: transform 1s;
}
.expandMenu {
    animation: expandMenu 1s linear 0s once;
}
