*{
    font-family: Arial, Helvetica, sans-serif;
    
}
#messages{
    width: 500px;
    height:300px;
    max-height: 300px;
    overflow:auto;
    overflow-x: hidden;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding:6px;
    margin:4px;
}
input[type='text']{
    display:block;
    width: 500px;
    font-size:14px;
    padding: 6px;
    margin:4px;
    border:1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    color: #6C7A89;
}
h3{
    display:flex;
    justify-content: center;
    margin-top: -3px;
    background-color: lightblue;
    height: 30px;
    width: 410px;
    border-radius: 6px;
    
}
b{
    color:lightslategray;
}
p{
    padding: 5px;
    color: black;
    margin-top: -8px;
    height: 50px;
    border-radius: 6px;
    background-color: lightgreen;
    width: 80%; 
    text-align: left;
    word-wrap: break-all;
}
b{
    cursor: pointer;
}