@media screen and (max-width: 813px) {
  /*
  code for narrow screen goes in here.
   */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  .boxLogin {
    display: inline-block;
  }
  .login {
    padding: 2px;
    border: 2px  solid white;
    width: 300px;
    background-color: white;
    border-radius: 6px;
  }
  .loginInput {
    width: 150px;
    margin: 2px;
    height: 15px;
  }
  .submitbt {
    width: 155px;
    background-color: lightsteelblue;
  }
  .submitbt:hover {
    background-color: lightblue;
    border-radius: 4px;
  }
  img {
    display: none;
  }
  #proposal {
    display: none;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6D7993;
    color: white;
    text-decoration: none;
  }
  #proposal:hover {
    color: salmon;
  }
  nav.welcome {
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 15px;
    margin: 10px;
  }
  nav h1:hover {
    background-color: #e6e1c9;
  }
  nav#single-nav {
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
    height: 0;
    overflow: hidden;
  }
  nav#single-nav.open {
    height: auto;
    border-radius: 2px;
  }
  .welcome h1 {
    color: #4b4348;
    font-weight: bold;
  }
  nav#dropdown {
    font-size: 2.3em;
    color: #6D7993;
    cursor: pointer;
  }
  .icon {
    font-size: 1em;
    margin-top: 2.2px;
    display: none;
  }
  #single-nav ul {
    margin-top: 1px;
    border-radius: 8px;
    background-color: #6D7993;
    font-size: 20px;
  }
  #single-nav ul li a {
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid #404040;
    display: block;
    margin: 0;
  }
  ul.mobileUL {
    display: flex;
    justify-content: space-around;
  }
  .selectLog {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #6D7993;
    width: 100%;
  }
  .selectLog:hover {
    background-color: lightsteelblue;
    cursor: pointer;
  }
  .iconMobile {
    color: white;
    margin-top: 3px;
  }
  .btt {
    color: white;
    margin-top: 3px;
  }
  body {
    background-color: #D5D5D5;
  }
  #single-nav ul li:nth-child(1):hover {
    background-color: #9099A2;
    text-decoration: none;
  }
  #single-nav ul li:nth-child(2):hover {
    background-color: #9099A2;
  }
  #single-nav ul li:nth-child(3):hover {
    background-color: #9099A2;
  }
  #single-nav ul li:nth-child(4):hover {
    background-color: #9099A2;
  }
  #single-nav a {
    color: white;
  }
  .signup {
    text-decoration: none;
    background-color: lightsteelblue;
    color: black;
    width: 300px;
    font-size: 11px;
  }
  ul {
    padding: 5px;
    text-decoration: none;
    list-style: none;
  }
  li {
    text-decoration: none;
  }
  li a {
    text-decoration: none;
  }
}
@media screen and (min-width: 814px) {
  /*
  code for wide screen goes in here.
  */
  .boxLogin {
    display: inline-block;
  }
  .login {
    padding: 2px;
    border: 2px  solid white;
    width: 300px;
    background-color: white;
    border-radius: 6px;
  }
  .loginInput {
    width: 150px;
    margin: 2px;
    height: 15px;
  }
  .signupA {
    text-decoration: none;
    display: flex;
    justify-content: center;
    height: 20px;
  }
  .signup {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    width: 158px;
    background-color: lightsteelblue;
    text-decoration: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    background-color: #ac78ac;
  }
  .signup:hover {
    background-color: lightblue;
    border-radius: 4px;
  }
  .signup:hover {
    background-color: lightpink;
  }
  .submitbt {
    width: 158px;
    background-color: lightsteelblue;
    text-decoration: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
  }
  .submitbt:hover {
    background-color: lightblue;
    border-radius: 4px;
  }
  #proposal {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #6D7993;
    display: none;
    color: white;
    text-decoration: none;
  }
  #proposal:hover {
    color: salmon;
  }
  img {
    width: 100%;
    height: 500px;
  }
  nav.welcome {
    background-color: #f2f2f2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    margin: 10px;
  }
  nav h1 {
    color: #96858f;
  }
  nav h1:hover {
    background-color: #D5D5D5;
  }
  .icon {
    font-size: 1.2em;
    margin-top: 3px;
  }
  #single-nav ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #6D7993;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -4px;
  }
  body {
    background-color: #D5D5D5;
  }
  #single-nav ul li:nth-child(1):hover {
    background-color: #9099A2;
    text-decoration: none;
  }
  #single-nav ul li:nth-child(2):hover {
    background-color: #9099A2;
  }
  #single-nav ul li:nth-child(3):hover {
    background-color: #9099A2;
  }
  #single-nav ul li:nth-child(4):hover {
    background-color: #9099A2;
  }
  #single-nav a {
    color: white;
  }
  nav#dropdown {
    display: none;
  }
  ul {
    list-style: none;
    margin-top: auto;
  }
  li {
    text-decoration: none;
  }
  li a {
    text-decoration: none;
  }
  #single-nav li {
    flex: 1 0 auto;
    text-align: center;
  }
  .infos {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ul.mobileUL {
    display: flex;
    justify-content: space-around;
  }
  .selectLog {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(145, 116, 105, 0.72);
    width: 100%;
  }
  .selectLog:hover {
    background-color: lightsteelblue;
    cursor: pointer;
  }
  .iconMobile {
    color: white;
    margin-top: 3px;
  }
  .btt {
    color: white;
    margin-top: 3px;
  }
}
