@media screen and (max-width: 813px) {
  /*
  code for narrow screen goes in here.
   */
  * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
  }
  body {
    background-color: #D5D5D5;
  }
  table,
  th,
  td {
    border: 0.1px groove rgba(0, 0, 0, 0.459);
  }
  p {
    margin: 4px;
    padding: 4px;
    margin-top: 10px;
  }
  a {
    text-decoration: none;
  }
  ul {
    padding: 5px;
    text-decoration: none;
    list-style: none;
  }
  li {
    text-decoration: none;
  }
  li a {
    text-decoration: none;
  }
  th {
    font-weight: 400;
    background: #8a97a0;
    color: #FFF;
  }
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  tr:nth-child(even) {
    background: #e8eeef;
  }
  th,
  td {
    text-align: left;
    padding: 20px;
    font-weight: 300;
  }
  tfoot tr {
    background: none;
  }
  tfoot td {
    padding: 10px 2px;
    font-size: 0.8em;
    font-style: italic;
    color: #8a97a0;
  }
  img {
    display: none;
  }
  a#proposal {
    display: none;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-decoration: none;
  }
  a#proposal:hover {
    color: salmon;
  }
  #popupRed {
    background-color: lightcoral;
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  #popupGreen {
    background-color: lightgreen;
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  .boxLogin {
    display: inline-block;
  }
  .login {
    padding: 2px;
    border: 2px  solid white;
    width: 300px;
    background-color: white;
    border-radius: 6px;
  }
  div.btt:focus {
    color: lightgreen;
  }
  span.signup {
    width: 150px;
    display: inline-block;
    background-color: rgba(151, 13, 151, 0.712);
  }
  span.signup:hover {
    background-color: lightblue;
  }
  .signup {
    display: block;
    color: black;
    margin-top: 4px;
    font-size: 12px;
    border-radius: 3px;
  }
  .loginInput {
    width: 150px;
    margin: 2px;
    height: 15px;
  }
  .feedbackPage {
    color: lightgreen;
  }
  #cart {
    display: flex;
    justify-content: space-around;
  }
  .submitbt {
    width: 150px;
    font-size: 12px;
    border-radius: 3px;
    background-color: lightsteelblue;
  }
  .submitbt:hover {
    background-color: lightblue;
    border-radius: 4px;
  }
  nav.welcome {
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 15px;
    margin: 10px;
  }
  nav h1:hover {
    background-color: #e6e1c9;
  }
  nav#single-nav {
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
    height: 0;
    overflow: hidden;
    transition: 700ms ease;
    position: absolute;
  }
  nav#single-nav.open {
    height: 260px;
    border-radius: 2px;
  }
  nav#dropdown {
    font-size: 2.3em;
    color: black;
    cursor: pointer;
  }
  .welcome h1 {
    color: #4b4348;
    font-weight: bold;
  }
  .icon {
    font-size: 1em;
    margin-top: 2.2px;
    display: none;
  }
  #single-nav ul {
    margin-top: 1px;
    border-radius: 8px;
    background-color: black;
    font-size: 20px;
  }
  #single-nav ul li a {
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid #404040;
    display: block;
    margin: 0;
  }
  ul.mobileUL {
    display: flex;
    justify-content: space-around;
  }
  .selectLog {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    width: 100%;
  }
  .selectLog:hover {
    background-color: lightsteelblue;
    cursor: pointer;
  }
  .iconMobile {
    color: white;
    margin-top: 3px;
  }
  .btt {
    color: white;
    margin-top: 3px;
  }
  #single-nav ul li:nth-child(1):hover {
    background-color: #191a1b;
    text-decoration: none;
  }
  #single-nav ul li:nth-child(2):hover {
    background-color: #191a1b;
  }
  #single-nav ul li:nth-child(3):hover {
    background-color: #191a1b;
  }
  #single-nav ul li:nth-child(4):hover {
    background-color: #191a1b;
  }
  #single-nav ul li:nth-child(5):hover {
    background-color: #191a1b;
  }
  #single-nav a {
    color: white;
  }
}
.container {
  display: inline-block;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
a.aHovers {
  text-decoration: none;
  font-weight: bold;
  color: lightsalmon;
}
a.aHovers:hover {
  color: red;
}
@media screen and (min-width: 814px) {
  /*
code for wide screen goes in here.
*/
  table,
  th,
  td {
    border: 0.1px groove rgba(0, 0, 0, 0.459);
  }
  th {
    font-weight: 400;
    background: #8a97a0;
    color: #FFF;
  }
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  tr:nth-child(even) {
    background: #e8eeef;
  }
  th,
  td {
    text-align: left;
    padding: 20px;
    font-weight: 300;
  }
  tfoot tr {
    background: none;
  }
  tfoot td {
    padding: 10px 2px;
    font-size: 0.8em;
    font-style: italic;
    color: #8a97a0;
  }
  #navCart {
    display: grid;
  }
  .boxLogin {
    display: inline-block;
  }
  .login {
    padding: 2px;
    border: 2px  solid white;
    width: 300px;
    background-color: white;
    border-radius: 6px;
  }
  .loginInput {
    width: 150px;
    margin: 2px;
    height: 15px;
  }
  .signupA {
    text-decoration: none;
    display: flex;
    justify-content: center;
    height: 20px;
  }
  .signup {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    width: 158px;
    background-color: lightsteelblue;
    text-decoration: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    background-color: #ac78ac;
  }
  .signup:hover {
    background-color: lightblue;
    border-radius: 4px;
  }
  .signup:hover {
    background-color: lightpink;
  }
  .submitbt {
    width: 158px;
    background-color: lightsteelblue;
    text-decoration: none;
    border-radius: 4px;
    color: black;
    cursor: pointer;
  }
  .submitbt:hover {
    background-color: lightblue;
    border-radius: 4px;
  }
  #proposal {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    display: none;
    color: white;
    text-decoration: none;
  }
  #proposal:hover {
    color: salmon;
  }
  img {
    width: 100%;
    height: 300px;
  }
  nav.welcome {
    background-color: #f2f2f2;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    margin: 10px;
  }
  nav h1 {
    color: #96858f;
  }
  nav h1:hover {
    color: white;
    background-color: black;
  }
  .icon {
    font-size: 1.2em;
    margin-top: 3px;
  }
  #single-nav ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -4px;
  }
  body {
    background-color: #D5D5D5;
  }
  #single-nav ul li:nth-child(1):hover {
    background-color: #191a1b;
    text-decoration: none;
  }
  #single-nav ul li:nth-child(2):hover {
    background-color: #191a1b;
  }
  #single-nav ul li:nth-child(3):hover {
    background-color: #191a1b;
  }
  #single-nav ul li:nth-child(4):hover {
    background-color: #191a1b;
  }
  #single-nav a {
    color: white;
  }
  nav#dropdown {
    display: none;
  }
  ul {
    list-style: none;
    margin-top: auto;
  }
  li {
    text-decoration: none;
  }
  li a {
    text-decoration: none;
  }
  #single-nav li {
    flex: 1 0 auto;
    text-align: center;
  }
  .infos {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ul.mobileUL {
    display: flex;
    justify-content: space-around;
  }
  .selectLog {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: black;
    width: 100%;
  }
  .selectLog:hover {
    background-color: lightsteelblue;
    cursor: pointer;
  }
  .iconMobile {
    color: white;
    margin-top: 3px;
  }
  a.aHovers {
    text-decoration: none;
    font-weight: bold;
    color: lightsalmon;
  }
  a.aHovers:hover {
    color: red;
  }
  #arrows {
    display: none;
  }
  .btt {
    color: white;
    margin-top: 3px;
  }
}
