#picture{
    position: relative;
    text-align: center;
}
#name{
    position: relative;
    text-align: center;
    margin-top: -5px;
}
#cellphone{
    text-align: center;
    margin-top: -20px;
}
#email{
    text-align: center;

}
#box{
    border: 2px solid lightgray;
    padding: 2px;
    margin: 2px;
}
#horizontalLine{
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
}
span.break{
    display: block;

}
.bold{
    font-weight: bold;
}

.bulletpoints{
    margin-top: 1px;
}