@colorBorder:#8c7399;
@backgroundColour: #999999;
@boxColours: #804d99;
@hover: #660099;
@bodyground: #000738;
@hovering: #ffff;
@fontFamily: Arial, Helvetica, sans-serif;

h2{
    text-align: center;
    color: white;
    font-family: @fontFamily;
}


body{
    background-color: @bodyground;
}

.title{
    color: white;
    text-align: center;
    font-family: @fontFamily;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 2fr;
    grid-column: 1 e('/') 2;
    border: solid @colorBorder;
    padding: 10px;
    background-color: @backgroundColour;
    font-family: @fontFamily;
   
}
.pokemon1{
    text-align: center;
    font-family: @fontFamily;
    border: solid @colorBorder;
    margin: 5px;
    padding: 10px;
    background-color: @boxColours;
    &:hover{
        background-color: @hover;
        color: white;
    }
}
.pokemon2{
    grid-area: 2;
    .pokemon1;
    &:hover{
        background-color: @hover;
        color:white;
    }
}
.pokemon3{
    grid-area: 3;
    .pokemon1;
    &:hover{
        background-color: @hover;
        color: white;
    }
}
.pokemon4{
    grid-area: 4;
    .pokemon1;
    &:hover{
        background-color: @hover;
        color: white;
    }
}
.favourite1,.favourite2,.favourite3,.favourite4,.favourite5,.favourite6,.favourite7{
    display: inline-grid;
    font-family: @fontFamily;
    border: solid @colorBorder;
    margin: 10px;
    height: 50px;
    padding: 10px;
    background-color: @boxColours;
    &:hover{
        background-color: @hover;
        color: white;
    }
}

.location{
    background-color: @boxColours;
    grid-column: 2 e('/') 2;
    font-family: @fontFamily;
    margin:3px;
    border-radius: 5px;
    text-align: center;
    border: solid @colorBorder;
    padding: 10px;
&:hover{
    background-color: @hover;
    color: white;
}
}
.style{
    font-weight: bold;
}
