h2 {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #000738;
}
.title {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr 2fr;
  grid-column: 1 / 2;
  border: solid #8c7399;
  padding: 10px;
  background-color: #999999;
  font-family: Arial, Helvetica, sans-serif;
}
.pokemon1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: solid #8c7399;
  margin: 5px;
  padding: 10px;
  background-color: #804d99;
}
.pokemon1:hover {
  background-color: #660099;
  color: white;
}
.pokemon2 {
  grid-area: 2;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: solid #8c7399;
  margin: 5px;
  padding: 10px;
  background-color: #804d99;
}
.pokemon2:hover {
  background-color: #660099;
  color: white;
}
.pokemon2:hover {
  background-color: #660099;
  color: white;
}
.pokemon3 {
  grid-area: 3;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: solid #8c7399;
  margin: 5px;
  padding: 10px;
  background-color: #804d99;
}
.pokemon3:hover {
  background-color: #660099;
  color: white;
}
.pokemon3:hover {
  background-color: #660099;
  color: white;
}
.pokemon4 {
  grid-area: 4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: solid #8c7399;
  margin: 5px;
  padding: 10px;
  background-color: #804d99;
}
.pokemon4:hover {
  background-color: #660099;
  color: white;
}
.pokemon4:hover {
  background-color: #660099;
  color: white;
}
.favourite1,
.favourite2,
.favourite3,
.favourite4,
.favourite5,
.favourite6,
.favourite7 {
  display: inline-grid;
  font-family: Arial, Helvetica, sans-serif;
  border: solid #8c7399;
  margin: 10px;
  height: 50px;
  padding: 10px;
  background-color: #804d99;
}
.favourite1:hover,
.favourite2:hover,
.favourite3:hover,
.favourite4:hover,
.favourite5:hover,
.favourite6:hover,
.favourite7:hover {
  background-color: #660099;
  color: white;
}
.location {
  background-color: #804d99;
  grid-column: 2 / 2;
  font-family: Arial, Helvetica, sans-serif;
  margin: 3px;
  border-radius: 5px;
  text-align: center;
  border: solid #8c7399;
  padding: 10px;
}
.location:hover {
  background-color: #660099;
  color: white;
}
.style {
  font-weight: bold;
}
