<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
    <title>Week 7 Example</title>
</head>
<body>
    <h1 class ="title">{{title}}</h1>
    
    </p>
    
    <h2>List of Pokemons</h2>
    <div class = "grid">
        
        <div class ="pokemon1">Pokemon:{{favourites["Name"]}}<br> Type:<br></div>
        <div class ="pokemon2">Pokemon:<br> Type:<br></div>
        <div class ="pokemon3">Pokemon:<br> Type:<br></div>
        <div class ="pokemon4">Pokemon:<br> Type:<br></div> 
    <div class = "favourite" >
        <div class ="favourite1">Pokemon:<br> Type:<br></div>
        <div class ="favourite2">Pokemon:<br> Type:<br></div>
        <div class ="favourite3">Pokemon:<br> Type:<br></div>
        <div class ="favourite4">Pokemon:<br> Type:<br></div>
        <div class ="favourite5">Pokemon:<br> Type:<br></div>
        <div class ="favourite6">Pokemon:<br> Type:<br></div>
        <div class ="favourite7">Pokemon:<br> Type:<br></div>
    </div> 
    {% for pokemon in pokemons %}
      <div class="location">
        <span class = "style">Name: </span>{{pokemon["Name"]}} <br> 
        <span class = "style">Type: </span>{{pokemon["TypeName"]}}<br>
    </div>
    {% endfor %}
</div>


</body>
</html>