<h1>Welcome!</h1>
        <p> Welcome to the website, if you are here, then it means you have someone  
            you want to be wiped off of the face of the Earth, if thats the case 
            then you are in the right place, we will take care of that for you 
            for the right price, thank you for choosing us! <br><br>       
</p>