<h1>News !</h1>
    <p> Hello everyone, this is the Administrator, <br>
        Good news coming your way, everything in the <br>
        store is 50% off! so you can order to kill 2 people <br>
        and pay only the price of 1, don't waste your time and <br>
        <br>
        <a id="aButton" class="button" href="html/jobs.php">BUY IT<span></span></a>
        <br><br>
    </p>