.menus {
  font-weight: bold;
}
body {
  background-color: lightcyan;
}
#title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: purple;
}
div#profile {
  border-style: solid;
  border-color: lavender;
  text-align: center;
  grid-area: 1;
  grid-column: 5;
}
div#grid2 {
  background-color: lightcyan;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
div#grid {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 100px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
div#grid > h2.menus {
  grid-area: 1;
}
div#grid > input.button1 {
  grid-area: 2;
}
div#grid > input.button2 {
  grid-area: 3;
}
div#grid > input.button3 {
  grid-area: 4;
}
div#grid > input.button4 {
  grid-area: 5;
}
div#grid > input.button5 {
  grid-area: 6;
}
div#grid > input.button6 {
  grid-area: 7;
}
div#grid > input.button7 {
  grid-area: 8;
}
div#grid > input.button8 {
  grid-area: 9;
}
div#grid > input.button9 {
  grid-area: 10;
}
div#grid > input.button10 {
  grid-area: 11;
}
.button1:focus {
  color: red;
}
.button2:focus {
  color: red;
}
.button3:focus {
  color: red;
}
.button4:focus {
  color: red;
}
.button5:focus {
  color: red;
}
.button6:focus {
  color: red;
}
.button7:focus {
  color: red;
}
.button8:focus {
  color: red;
}
.button9:focus {
  color: red;
}
.button10:focus {
  color: red;
}
div#grid2 > div#squad {
  grid-column: 3;
  border-style: solid;
  border-color: lavender;
  text-align: center;
}
div#grid > div#profile {
  grid-column: 5;
}
#Image {
  grid-column: 4;
  grid-row: 2;
  height: 30px;
  weight: 30px;
}
