@font: Helvetica, sans-serif;
@media screen and (max-width: 813px) {
  /*
  code for narrow screen goes in here.
   */


 img{
   display: none;
 }


  #proposal{
    display:flex;
    justify-content: space-around;
    font-family: @font;
    background-image: linear-gradient(black, #636363);
    color: white;
    text-decoration: none;
    &:hover{
      color: salmon;
    }
  }

  nav.welcome{
    background-color: #f2f2f2;
    text-align: center;
    font-family: @font ;
    border-radius: 15px;
    margin: 10px;
  }
  nav h1:hover{
    background-color: #e6e1c9;
  }
  nav#single-nav{
    float:none;
    text-align: left;
    width: 100%;
    margin: 0;
    height: 0;
    overflow: hidden;
  }

  nav#single-nav.open{
    height: auto;
  }

  nav#dropdown{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(145, 116, 105, 0.72);
    width: 100%;
    font-size: 2.0em;
    cursor:pointer;
  }

  .icon{
    font-size: 1em;
    margin-top: 2.2px;
    display: none;
  }
  #single-nav ul{
    margin-top: 5px;
    background-color: #6e6e6e;
    font-family: @font;
    font-size: 20px;
  }
  #single-nav ul li a{
    padding:10px;
    color:#fff;
    border-bottom: 1px solid #404040;
    display:block;
    margin: 0;
  }
  ul.mobileUL{
    display:flex;
    justify-content: space-around;
  }

  .selectLog{
    display:flex;
    justify-content: space-around;
    text-align: center;
    background-color:rgba(145, 116, 105, 0.72);
    width:100%;
    &:hover{
      background-color: lightsteelblue;
      cursor: pointer;
    }
  }

  .iconMobile{
    color:white;
    margin-top: 3px;
  }

  .btt{
    .iconMobile;
  }

  body{
    background-color: beige;
  }
  #single-nav ul li:nth-child(1):hover{
    background-color: gray;
    text-decoration: none;
  }
  #single-nav ul li:nth-child(2):hover{
    background-color: gray;
  }
  #single-nav ul li:nth-child(3):hover{
    background-color: gray;
  }
  #single-nav ul li:nth-child(4):hover{
    background-color: gray;
  }
  #single-nav a{
    color: white;

  }

  ul{
    padding: 5px;
    text-decoration: none;
    list-style: none;
  }
  li{
    text-decoration: none;
  }
  li a {
    text-decoration: none;
  }

}

@media screen and (min-width:814px) {
  /*
                                        code for wide screen goes in here.
  */
  #proposal{
    display:flex;
    justify-content: space-around;
    font-family: @font;
    background-image: linear-gradient(black, #636363);
    color: white;
    text-decoration: none;
    &:hover{
      color: salmon;
    }
  }
  img{
    width: 100%;
    height: 500px;
  }
  nav.welcome{
    background-color: #f2f2f2;
    text-align: center;
    font-family: @font ;
    border-radius: 15px;
    margin: 10px;
  }
  nav h1:hover{
    background-color: #e6e1c9;
  }

  .icon{
    font-size: 1.2em;
    margin-top: 3px;
  }
  #single-nav ul{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: black;
    font-family: @font;
    margin-top: -4px;
  }
  body{
    background-color: beige;
  }
  #single-nav ul li:nth-child(1):hover{
    background-color: gray;
    text-decoration: none;
  }
  #single-nav ul li:nth-child(2):hover{
    background-color: gray;
  }
  #single-nav ul li:nth-child(3):hover{
    background-color: gray;
  }
  #single-nav ul li:nth-child(4):hover{
    background-color: gray;
  }
  #single-nav a{
    color: white;

  }
  nav#dropdown{
    display: none;
  }
  ul{
    list-style: none;
    margin-top: auto;
  }
  li{
    text-decoration: none;
  }
  li a {
    text-decoration: none;
  }
  #single-nav li{
    flex: 1 0 auto;
    text-align: center;
  }
  .infos{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ul.mobileUL{
    display:flex;
    justify-content: space-around;
  }

  .selectLog{
    display:flex;
    justify-content: space-around;
    text-align: center;
    background-color:rgba(145, 116, 105, 0.72);
    width:100%;
    &:hover{
      background-color: lightsteelblue;
      cursor: pointer;
    }
  }

  .iconMobile{
    color:white;
    margin-top: 3px;
  }

  .btt{
    .iconMobile;
  }
}