<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CPSC 2030 LESS template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/less" type="text/css" media="screen" href="style.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>

</head>

<body>
<div class="title">Random Page Of Styling Horror</div>
<div class="top menu">
    <div class="item">Lorem.</div>
    <div class="item">Eos!</div>
    <div class="item">Assumenda.</div>
    <div class="item">Eius.</div>
    <div class="item">Earum?</div>
    <div class="item">Quis?</div>
    <div class="item">Iste?</div>
</div>
<!-- top level container class-->
<div class="container">

    <div class="bargraph">
        <!-- going to use grid layout to
        try and draw a bargraph-->
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
    </div>

    <!-- should appear on the left side of the screen
         Spanning two rows-->
    <div class="sidebar">
        <div class="item">Lorem. <!-- MENU -->
            <div class="subItem">Lorem.</div>
            <div class="subItem">Nemo?</div>
            <div class="subItem">Beatae?</div>
        </div>
        <div class="item">
            Autem!<!-- MENU -->
            <div class="subItem">Commodi.</div>
            <div class="subItem">Ea!</div>
            <div class="subItem">Sit.</div>
        </div>
        <div class="item">
            Repellat! <!-- MENU -->
            <div class="subItem">Vel.</div>
            <div class="subItem">Eligendi!</div>
            <div class="subItem">Ullam!</div>
        </div>
    </div>
    <div class="flexbottom">
        <h2>More Boxes</h2>
        <div class="mon">
            <div>name:</div>
            <div>cp:</div>
            <div>att:</div>
            <div>def:</div>
            <div>sta:</div>
        </div>
        <div class="mon">
            <div>name:</div>
            <div>cp:</div>
            <div>att:</div>
            <div>def:</div>
            <div>sta:</div>
        </div>
        <div class="mon">
            <div>name:</div>
            <div>cp:</div>
            <div>att:</div>
            <div>def:</div>
            <div>sta:</div>
        </div>
        <div class="mon">
            <div>name:</div>
            <div>cp:</div>
            <div>att:</div>
            <div>def:</div>
            <div>sta:</div>
        </div>
        <div class="mon">
            <div>name:</div>
            <div>cp:</div>
            <div>att:</div>
            <div>def:</div>
            <div>sta:</div>
        </div>
        <div class="mon">
            <div>name:</div>
            <div>cp:</div>
            <div>att:</div>
            <div>def:</div>
            <div>sta:</div>
        </div>
        <div class="mon">
            <div>name:</div>
            <div>cp:</div>
            <div>att:</div>
            <div>def:</div>
            <div>sta:</div>
        </div>
        <div class="mon">
            <div>name:</div>
            <div>cp:</div>
            <div>att:</div>
            <div>def:</div>
            <div>sta:</div>
        </div>
        <div class="mon">
            <div>name:</div>
            <div>cp:</div>
            <div>att:</div>
            <div>def:</div>
            <div>sta:</div>
        </div>
        <div class="mon">
            <div>name:</div>
            <div>cp:</div>
            <div>att:</div>
            <div>def:</div>
            <div>sta:</div>
        </div>


    </div>

</div>
</body>
