@gradient: linear-gradient(90deg, #c623ed, #ff97fe);
@gradientBox: linear-gradient(120deg, #520688, #7e1c34);
@button1Colour: #80067e;
@button2Colour: #f446ff;
@oddColour: #c619ed;
@evenColour: #ff97fe;
@buttonHover: #fd84ff;
@buttonBackground: #FFFFFF * 1.2;
@buttonColorDefault: #fd84ff;
@buttonWidth: 10%;
@barGraphColor: #008500;
@barGraphColor2: #c40000;


@media screen and (max-width: 813px) {
  // code for narrow screen goes in here
  .title {
    background-image: @gradient;
    font-family: Tahoma, sans-serif;
    color: black;
    font-size: 3.5vw;
    display: flex;
    justify-content: center;
  }

  .sidebar {
    display: none;
  }

  .container {
    background-color: purple;
    height: 50%;
  }

  div.top.menu {
    font-size: 1.5vw;
    color: white;
    width: 50%;
    display: block;

  }

  .top .item {
    background-color: @buttonBackground * 1.2;
    color: @buttonHover * 1.5;
  }

  .menu .item:nth-child(odd) {
    background-color: @button1Colour;
    text-align: left;
    width: 200%;
  }

  .menu .item:nth-child(even) {
    background-color: @button2Colour;
    text-align: left;
    width: 200%;
  }

  .menu .item:hover {
    background-color: lightblue;
    color: red;
  }

  .container {
    display: grid;
  }

  .bargraph {
    display: grid;
    grid-template-rows: 1.250em 1.250em 1.250em 1.250em 1.250em;
    grid-template-columns: 20% 20% 40% 20% 20%;
    grid-row-gap: 10px;
  }

  .bar1 {
    background-color: @barGraphColor2;
    grid-column: 1 e('/') 4;

  }

  .bar2 {
    background-color: @barGraphColor2;
    grid-column: 1 e('/') 3;

  }

  .bar3 {
    background-color: @barGraphColor2;
    grid-column: 1 e('/') 5;

  }

  .bar4 {
    background-color: @barGraphColor2;
    grid-column: 1 e('/') 2;
  }

  .flexbottom {
    background-color: #fd84ff;
    display: flex;
    flex-direction: column;

  }

  .mon div:nth-child(1) {
    color: lightblue;
  }

  .mon div:nth-child(n+2) {
    color: lightgreen;
  }

  .flexbottom .mon div:first-child {
    font-weight: bold;
  }

  .mon {
    border-radius: 25px;
    background-image: @gradientBox;
    padding: 5px;
    margin: 5px;

  }


}




@media screen and (min-width:814px){

  .container {
    background-color: purple;
    border-radius: 3%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
  }

  .title {
    background-image: @gradient;
    font-family: Tahoma, sans-serif;
    color: black;
    font-size: 3.5vw;
    display: flex;
    justify-content: center;
  }

  div.top.menu {
    font-size: 1.5vw;
    justify-content: space-around;
    color: white;
    background-color: #71138c;
    width: 50%;
    display: flex;
    padding: 2px;
    margin-left: 25%;
    border-radius: 25px;
  }
  .menu .item {
    width: 10%;
    text-align: center;
    background-color: @buttonColorDefault;
    color:white;
  }


  //mixins
  .menu .item:nth-child(1){
    .menu .item;
    background-color: @buttonColorDefault * 0.4;
  }
  .menu .item:nth-child(2){
    .menu .item;
    background-color: @buttonColorDefault * 0.8;
  }
  .menu .item:nth-child(3){
    .menu .item;
    background-color: @buttonColorDefault * 1.0;
  }
  .menu .item:nth-child(4){
    .menu .item;
    background-color: @buttonColorDefault * 0.4;
  }
  .menu .item:nth-child(5){
    .menu .item;
    background-color: @buttonColorDefault * 0.8;
  }
  .menu .item:nth-child(6){
    .menu .item;
    background-color: @buttonColorDefault * 1.0;
  }
  .menu .item:nth-child(7) {
    .menu .item;
    background-color: @buttonColorDefault * 0.4;
  }

  //nested
  .top .item {
    background-color: @buttonBackground * 1.2;
    color: @buttonHover * 0.2;
    &:hover {
      background-color: #ffd6dd;
      color: #331a33;
    }
  }



  .menu .item:nth-child(3) {
    width: @buttonWidth *2;
  }

  .sidebar{
    grid-row: 1 e('/') 3;
    grid-column: 1 e('/') 2;
  }

  .sidebar .item {
    font-weight: normal;
    width: 5%;
    height: 5%;
    margin: 0 0 0 40px;

  }

  .sidebar .subItem {
    display: none;
  }

  .sidebar .item:hover {
    font-weight: bold;
    &:hover .subItem {
      display: block;
      font-weight: bold;
      margin: 0 0 0 40px;
        &:hover {
          color: red;
      }
    }

  }
  .sidebar .item .subItem:hover {
    color: red;
  }
  .bargraph {
    display: grid;
    grid-template-rows: 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em;
    grid-template-columns: 50px 50px 50px 50px;
    margin: 0 auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-column-gap: 20px;

  }

  .bar1 {
    background-color: @barGraphColor;
    grid-row: 7 e('/') 2;
  }

  .bar2 {
    background-color: @barGraphColor;
    grid-row: 7 e('/') 1;
  }

  .bar3 {
    background-color: @barGraphColor;
    grid-row: 7 e('/') 4;
  }

  .bar4 {
    background-color: @barGraphColor;
    grid-row: 7 e('/') 3;
  }

  .flexbottom {
    background-color: #fd84ff;
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 e('/') 3;
    grid-row: 2 e('/') 3;
  }

  .flexbottom h2{
    width: 800px;
  }

  .flexbottom .mon div:first-child {
    font-weight: bold;
  }

  .mon {
    border-radius: 25px;
    background-image: @gradientBox;
    padding: 5px;
    margin: 5px;
    width: 15%;

  }
}






