@media screen and (max-width: 813px) {
  .title {
    background-image: linear-gradient(90deg, #c623ed, #ff97fe);
    font-family: Tahoma, sans-serif;
    color: black;
    font-size: 3.5vw;
    display: flex;
    justify-content: center;
  }
  .sidebar {
    display: none;
  }
  .container {
    background-color: purple;
    height: 50%;
  }
  div.top.menu {
    font-size: 1.5vw;
    color: white;
    width: 50%;
    display: block;
  }
  .top .item {
    background-color: #ffffff;
    color: #ffc6ff;
  }
  .menu .item:nth-child(odd) {
    background-color: #80067e;
    text-align: left;
    width: 200%;
  }
  .menu .item:nth-child(even) {
    background-color: #f446ff;
    text-align: left;
    width: 200%;
  }
  .menu .item:hover {
    background-color: lightblue;
    color: red;
  }
  .container {
    display: grid;
  }
  .bargraph {
    display: grid;
    grid-template-rows: 1.25em 1.25em 1.25em 1.25em 1.25em;
    grid-template-columns: 20% 20% 40% 20% 20%;
    grid-row-gap: 10px;
  }
  .bar1 {
    background-color: #c40000;
    grid-column: 1 / 4;
  }
  .bar2 {
    background-color: #c40000;
    grid-column: 1 / 3;
  }
  .bar3 {
    background-color: #c40000;
    grid-column: 1 / 5;
  }
  .bar4 {
    background-color: #c40000;
    grid-column: 1 / 2;
  }
  .flexbottom {
    background-color: #fd84ff;
    display: flex;
    flex-direction: column;
  }
  .mon div:nth-child(1) {
    color: lightblue;
  }
  .mon div:nth-child(n+2) {
    color: lightgreen;
  }
  .flexbottom .mon div:first-child {
    font-weight: bold;
  }
  .mon {
    border-radius: 25px;
    background-image: linear-gradient(120deg, #520688, #7e1c34);
    padding: 5px;
    margin: 5px;
  }
}
@media screen and (min-width: 814px) {
  .container {
    background-color: purple;
    border-radius: 3%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
  }
  .title {
    background-image: linear-gradient(90deg, #c623ed, #ff97fe);
    font-family: Tahoma, sans-serif;
    color: black;
    font-size: 3.5vw;
    display: flex;
    justify-content: center;
  }
  div.top.menu {
    font-size: 1.5vw;
    justify-content: space-around;
    color: white;
    background-color: #71138c;
    width: 50%;
    display: flex;
    padding: 2px;
    margin-left: 25%;
    border-radius: 25px;
  }
  .menu .item {
    width: 10%;
    text-align: center;
    background-color: #fd84ff;
    color: white;
  }
  .menu .item:nth-child(1) {
    width: 10%;
    text-align: center;
    background-color: #fd84ff;
    color: white;
    background-color: #653566;
  }
  .menu .item:nth-child(2) {
    width: 10%;
    text-align: center;
    background-color: #fd84ff;
    color: white;
    background-color: #ca6acc;
  }
  .menu .item:nth-child(3) {
    width: 10%;
    text-align: center;
    color: white;
    background-color: #fd84ff;
  }
  .menu .item:nth-child(4) {
    width: 10%;
    text-align: center;
    background-color: #fd84ff;
    color: white;
    background-color: #653566;
  }
  .menu .item:nth-child(5) {
    width: 10%;
    text-align: center;
    background-color: #fd84ff;
    color: white;
    background-color: #ca6acc;
  }
  .menu .item:nth-child(6) {
    width: 10%;
    text-align: center;
    color: white;
    background-color: #fd84ff;
  }
  .menu .item:nth-child(7) {
    width: 10%;
    text-align: center;
    background-color: #fd84ff;
    color: white;
    background-color: #653566;
  }
  .top .item {
    background-color: #ffffff;
    color: #331a33;
  }
  .top .item:hover {
    background-color: #ffd6dd;
    color: #331a33;
  }
  .menu .item:nth-child(3) {
    width: 20%;
  }
  .sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
  .sidebar .item {
    font-weight: normal;
    width: 5%;
    height: 5%;
    margin: 0 0 0 40px;
  }
  .sidebar .subItem {
    display: none;
  }
  .sidebar .item:hover {
    font-weight: bold;
  }
  .sidebar .item:hover:hover .subItem {
    display: block;
    font-weight: bold;
    margin: 0 0 0 40px;
  }
  .sidebar .item:hover:hover .subItem:hover {
    color: red;
  }
  .sidebar .item .subItem:hover {
    color: red;
  }
  .bargraph {
    display: grid;
    grid-template-rows: 1.5em 1.5em 1.5em 1.5em 1.5em 1.5em;
    grid-template-columns: 50px 50px 50px 50px;
    margin: 0 auto;
    grid-column: 0.66666667;
    grid-row: 0.5;
    grid-column-gap: 20px;
  }
  .bar1 {
    background-color: #008500;
    grid-row: 7 / 2;
  }
  .bar2 {
    background-color: #008500;
    grid-row: 7 / 1;
  }
  .bar3 {
    background-color: #008500;
    grid-row: 7 / 4;
  }
  .bar4 {
    background-color: #008500;
    grid-row: 7 / 3;
  }
  .flexbottom {
    background-color: #fd84ff;
    display: flex;
    flex-wrap: wrap;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .flexbottom h2 {
    width: 800px;
  }
  .flexbottom .mon div:first-child {
    font-weight: bold;
  }
  .mon {
    border-radius: 25px;
    background-image: linear-gradient(120deg, #520688, #7e1c34);
    padding: 5px;
    margin: 5px;
    width: 15%;
  }
}
/*# sourceMappingURL=style.css.map */